<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csi5230.ngoretski.assignment2layout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen2">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen3">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen4">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_4" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen5">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_5" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen6">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_6" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen7">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_7" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen8">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_8" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen10">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_10" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen11">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_11" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Screen12">
            <intent-filter>
                <action android:name="edu.csi5230.ngoretski.SCREEN_12" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>